@import "../variables.scss";

.modal {
	position: fixed;
	top: 15px;
	left: 2.5%;
	width: 95%;
	height: 95vh;
	padding: 5px;
	background-color: #485460;
	border-radius: 7px;
	z-index: 50000;

	@media (min-width: $breakpoint-md) {
		position: fixed;
		top: 15px;
		left: 14.5%;
		width: 70%;
		padding: 15px;
	}
			
		&__header {
			display: flex;
			justify-content: space-between; 

			&__title {
				&__text {
					font-family: $header-font;
					letter-spacing: 1.3px;
          font-weight: 500;
				}
			}
		}
}
