@import "../variables.scss";

.modal {
	position: fixed;
	top: 15px;
	left: 14.5%;
	width: 70%;
	height: 90vh;
	padding: 15px;
	background-color: #485460;
	border-radius: 7px;
	z-index: 99;
			
		&__header {
			display: flex;
			justify-content: space-between; 

			&__title {
				&__text {
					font-family: $header-font;
					letter-spacing: 1.3px;
          font-weight: 500;
				}
			}
		}
}
