@import "../variables.scss";

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 10px);
	min-height: calc(100vh - 62px);;
	margin: 5px;
	padding: 5px;
	background-color: rgba(245, 245, 245, 0.99);
	border-radius: 7px;
	z-index: 50000;

	@media (min-width: $breakpoint-md) {
		margin: 5px;
		padding: 15px;
	}
			
	&__header {
		display: flex;
		justify-content: space-between; 

		&__title {
			display: flex;

			&__text {
				font-family: $header-font;
				letter-spacing: 1.3px;
				font-weight: 500;
			}
			&__link {
				margin-left: 15px;

				svg {
					transition: ease-in-out 0.5s;
					cursor: pointer;

					&:hover {
						fill: $teal-dark;
					}
				}
			}
		}

		&__close {
			svg {
				fill: #000;
			}
		}
	}

	&__content {
		width: 100%;
		display: flex;
		flex-direction: column-reverse;

		@media (min-width: $breakpoint-md) {
			flex-direction: row;
		}

		&__info {
			width: 100%;
			padding: 15px;

			@media (min-width: $breakpoint-md) {
				width: 50%;
			}
		}
	}

	&__controls {
		display: flex;
		justify-content: space-between;
	
		&__control {
			&__item {
				svg {
					width: 20px;
					height: auto;
				}
			}
		}
	}
	
}

