@import "./components/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: $white;
}

h2 {
  color: $white;
}

p {
  color: $white;
}

body {
  background-color: $black;
}

.main {
  display: flex;
  flex-direction: column;
}

.main__section {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}