@import "./components/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: $white;
}

h2 {
  color: $white;
}

p {
  font-family: $paragraph-font;
  font-weight: 100;
  letter-spacing: 1px;
  color: $white;
}

body {
  background-color: $black;
}


.main {
  display: flex;
  flex-direction: column;

  &__section {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
      
    &__menu {
      position: fixed;
      top: 5px;
      left: 15px;
      z-index: 90;

      svg {
        width: 25px;
      }
    }
  }
}