@import "./components/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: $black;
}

h2 {
  color: $black;
}

p {
  font-family: $paragraph-font;
  font-weight: 100;
  letter-spacing: 1px;
  color: $black;
}

body {
  background-color: $background-light;
}

