@import "../variables.scss";

.modal {
  &__gallery {
    &__image {
      &__img {
        width: 100%;
        height: auto;

        @media (min-width: $breakpoint-md) {
          width: 50%;
        }
      }
    }

    &__thumbnails {
      display: flex;
      flex-wrap: wrap;    
    }
  }
}

