.modal {
  &__gallery {
    &__image {
      &__img {
        width: 50%;
        height: auto;
      }
    }

    &__thumbnails {
      display: flex;
      flex-wrap: wrap;    
    }
  }
}

.thumbnail {
  &__image {
    width: 100px;
    height: 100px;
    margin: 5px;
    object-fit: cover;
  }
}