@import "../variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  display: none;
  width: 25%;
  height: calc(100vh - 50px);
  margin-top: 50px;

  @media (min-width: $breakpoint-md) {
    display: block;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100vh - 50px);
    
    &__p {
      color: $lightgrey;
      padding: 15px;
      font-style: italic;
      letter-spacing: 1px;
      font-size: 19px;
      text-align: justify;

      &--salt {
        text-align: right;
        color: $teal-light;
      }
    }
  }
}

.slider {
  position: relative;
  border-bottom: 5px solid $background-dark;
  margin-top: 6px;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.7);
    z-index: 500000;
    top: 0;
  }

  &__header {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 50;
    font-size: 2.2vw;
    text-transform: uppercase;
    font-family: $header-font;
    text-align: right;
    margin-right: 30px;
  }
}

.react-slideshow-container {
  .default-nav {
    display: none;
  } 
}

.each-slide > article {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 70vh;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.sidebar {
  &__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;

    svg {
      color: white;
      font-size: 2vw;
      margin: 5px;
      transition: ease-in-out 0.3s;;

      &:nth-child(2){
        font-size: 1.8vw;
      }

      &:hover {
        color: $teal-dark;
      }
    }
  }
}