@import "../variables.scss";
.skills {
  &__wrapper {
    background-color: white;
  }
}

.skill {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  h2 {
    width: 100%;
    padding: 5px;
    background-color: #485460;
    color: white;
    text-align: center;
  }

  &__item {
    margin: 10px;
    max-height: 100px;
    width: 150px;

    &__image {
      width: auto;
      max-width: 100px;
      max-height: 80px;
    }
  }
}