@import "../variables.scss";

.content {
  &__about {
    display: flex;
    min-height: calc(100% - 30px);
    margin: 15px;
    padding: 15px;
    background-color: rgba(245, 245, 245, 0.99);

    &__image {
      margin-right: 15px;

      &__img {
        width: 100%;
      }
    }
  }
}

.information {
  &__text {
    display: inline-block;

    &--tech {
      padding: 0 10px;
      padding-bottom: 10px;
      border: 1px solid black;
      border-radius: 5px;
    }

    &__header {
      display: inline-block;
      margin-top: 10px;
      margin-right: 10px;
      font-size: 12px;
      text-transform: uppercase;
    }

    &__paragraph {
      display: contents;
    }
  }
}