@import "../variables.scss";

.content {
  &__about {
    display: flex;
    min-height: calc(100% - 30px);
    margin: 15px;
    padding: 15px;
    background-color: rgba(245, 245, 245, 0.99);
    border-radius: 7px;

    &__image {
      margin-right: 15px;

      &__img {
        width: 100%;
      }
    }
  }
}

.information {
  &__header {
    display: flex;
    justify-content: space-between;

    &__links{
      &__link {
        margin: 0 5px;
        svg {
          transition: ease-in-out 0.5s;
          cursor: pointer;

          &:hover {
            fill: $teal-dark;
          }
        }
      }
    }
  }

  &__text {
    display: inline-block;

    &--tech {
      margin: 10px 0;
      padding: 10px 15px;
      padding-bottom: 20px;
      border-radius: 5px;
      background-color: $lightgrey;
    }

    &__header {
      display: inline-block;
      margin-top: 10px;
      margin-right: 10px;
      font-size: 12px;
      text-transform: uppercase;
    }

    &__paragraph {
      display: contents;
    }
  }
}