.thumbnail {
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover {
    cursor: pointer;
    margin-top: 5px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1)
  }
  
  &__image {
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    background-color: white;
    object-fit: cover;
  }
}