@import "../variables.scss";

.header {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  background-color: $background-dark;

  &__navigation {
    text-align: right;

    &__list {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      text-decoration: none;
    }
  }
}