@import "./components/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-dark;
}

.main {
  display: flex;
  flex-direction: column;
}

.main__section {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}