@import "../variables.scss";

.modal {
	&--blog {
		overflow: hidden;
	}

	&__content {
		max-width: 1600px;
		margin: 0 auto;
		height: 100%;

		&__text {
			width: 100%;
			height: min-content;
			padding-bottom: 15px;

			@media (min-width: $breakpoint-md) {
				width: 50%;
				height: 100%;
				padding-bottom: 80px;
				overflow: scroll;
				overflow-x: hidden;
			}

			p {
				margin: 20px 2%;
				line-height: 24px;
			}

			ul {
				background-color: whitesmoke;
				margin: 10px 2% 10px 2%;
				padding: 10px;

				li {
					margin: 10px 20px;
				}
			}
		}
	}

	&__bloginfo {
		width: 100%;

		@media (min-width: $breakpoint-md) {
			width: 50%;
		}

		h3 {
			margin-top: 20px;
			padding: 0 20px 0 10px;
			text-transform: uppercase;
			font-family: "Montserrat", sans-serif;
			font-weight: 700;
			font-size: 16px;
		}

		p {
			padding: 0 20px 20px 10px;
			border-bottom: 1px dotted lightgrey;
		}

		&__image {
			width: 100%;

			img {
				object-fit: cover;
				width: 100%;
				height: 40vh;
			}
		}

		&__tags {
			display: flex;
			flex-wrap: wrap;

			h3 {
				font-family: $paragraph;
				color: $teal-dark;
				text-transform: lowercase;
				font-style: italic;
				font-weight: 400;
			}
		}

		&__text {
			padding: 30px;
		}
	}

	&__header {
		&__time {
			color: lightgrey;
			margin-left: 30px;

			h3 {
				font-weight: 400;
				font-size: 0.9rem;
			}
		}

		&__title {
			flex-direction: column;
			align-items: flex-start;
		}
	}
}