@import "../variables.scss";

.header {
  display: flex;
  flex-direction: column;
  width: 75px;
  height: 100vh;

  @media (min-width: $breakpoint-md) {
    width: 0;
  }

  &__navigation {
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    z-index: 3900;

    @media (min-width: $breakpoint-md) {
      height: 0;
      margin-top: 0px;
      margin-left: 50px;
      position: fixed;
      top: 0;
    }

    &__list {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 15px;
      
      @media (min-width: $breakpoint-md) {
        flex-direction: row;
      }

      a {
        text-decoration: none;
        color: $lightgrey;
      }

      a:hover {
        color: $teal-light;
      }

      .active {
        text-decoration: underline;
      }

      &__item {
        display: flex;
        align-items: center;

        svg {
          width: 25px;

        }

        &__text {
          display: none;
          margin: 0 10px;
          font-family: $header-font;
          font-size: 1.5em;
          font-weight: 500;

          @media (min-width: $breakpoint-md) {
            display: block;
          }
        }
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    position: fixed;
    top: 5px;
    right: 15px;
    background-color: $orange-dark;
    border: none;
    border-radius: 25px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
    
    &:hover {
      background-color: $orange-light;
    }

    svg {
      width: auto;
      height: 30px;
      margin: 5px 10px;

      @media (min-width: $breakpoint-md) {
        margin: 5px 15px 5px 20px;
      }
    }

    &__text {
      display: none;
      margin-right: 15px;

      @media (min-width: $breakpoint-md) {
        display: block;
      }
    }
  }
}